#area-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#grid-block{
    background-color: white;
    border-radius: 1vw;
    height: 70vh;
    width: 100%;
}

#top-numbers{
    display: flex;
    margin: 0 5vw 0 5vw;
    justify-content: space-between;
}

#bottom-numbers{
    display: flex;
    margin: 0 5vw 0 5vw;
    justify-content: space-between;
}

#sprinkler-range-text{
    position: absolute;
    top: 80vh;
    font-size: 1.5vw;
}

#grid{
    /* height: 60vh; */
    margin: 1px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(10, auto);
    background-color: yellow;
}

#grid-item{
    background-color: #3DCBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: red;
}

#base-position-1{
    color: red;
}

#base-position-2{
    color: black;
}

#base-position-3{
    color: black;
}

#base-position-4{
    color: black;
}
