#data-box{
    width: 40%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#sensor-status-box{
    background-color: blue;
    width: 30vw;
    height: 40vh;
}
