@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#sidebar{
    width: 15%;
    display: flex;
    flex-direction: column; 
    background-color: white;
}

#buttons-box{
    padding: 0 1vw;
    height: 60vh;
    top: 30vh;
    display: flex;
    flex-direction: column;
}

#logo-box{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-text{
    margin: 0;
    text-align: center;
    color: #3DCBEB;
    font-family: 'Roboto';
    font-size: 1.8vw;
    font-weight: bold;
}

#logo-image{
    width: 100%;
}

#sidebar-button{
    top: 30vh;
    width: 100%;
    transition-duration: 0.2s;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    height: 40px;
}

#sidebar-button:hover{
    background-color: #3DCBEB;
}

#sidebar-button:hover p{
    color: white;
}

#sidebar-button:hover #fa-icon{
    color: white;
}

#sidebar-button p{
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 1.4vw;
}

#fa-icon{
    color: #3DCBEB;
    font-size: 1vw;
}
